body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1b1c1f;
  color: #fff;     /* Set a dark background and light text globally */
}

/* Highlight blof the selected words*/
.highlight {
  color: #f9d342;
  font-weight: bold;
}

.sidebar {   /* Sidebar styling */
  background: url('img/Center.jpg') no-repeat center;
  background-size: cover;
  width: 300px;
  object-fit: fill;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px;
}

.profile {
  text-align: center;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile h2 { /* Heading size */
  margin: 10px 0 0;
  font-size: 18px;
}

.profile p {  /* Fount color */
  font-size: 12px;
  color: #aaa;
}

/* Language selection area */
.lang-select span {
  display: inline-block;
  margin-right: 10px;
  background: #333;
  padding: 4px 8px;
  border-radius: 5px;
}

.main {
  margin-left: 320px;
  padding: 30px;
}


/* Top section styles */
.top {
  background: url('img/Center.jpg') no-repeat center;
  background-size: cover;
  padding: 60px;
  border-radius: 10px;
  text-align: center;
}

/* Welcome message */
.top h1 { 
  font-size: 36px;
}

/* For the Quote */
.top p {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #f9d342;
}

/* Link to the quote*/
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #f9d342;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

/* The layout for the boxes*/
.boxs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* The Link color*/
.boxs a {
  color: blue; 
}

/* The indivifual box*/
.box {
  background-color: #2a2a2e;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  height: 230px;
}

/* to Link to places*/
.box-button {
  position: absolute;
  bottom: 20px;
  left: 20px;;
  display: inline-block;
  padding: 6px 12px;
  background: #f9d342;
  color: #000;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

/* When hovering over the button it will chnage the color of the button */
.button:hover,
.box-button:hover {
  background-color: #00FFFF ;
}